/* CONTACS */

.contacs{
    margin-top: 200px;
}

.contacs-info{
    display: flex;
    justify-content: center;
}

.contact-block-avatar{
    width: 30%;
}

.contact-avatar{
    width: 100%;
}

.contact-block-text{
    width: 60%;
}

.contact-block-text-holder{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 30px;
}

.contact-block-text-item{
    text-align: center;
    width: 40%;
}

.contacs-data{
    font-size: 19px;
    margin-bottom: 20px;
}

.contacs-data span{
    font-weight: 700;
}

.contacs-data a{
    text-decoration: underline;
    transition: all 0.2s ease;
}

.contacs-data a:hover{
    color: var(--var-hovercolor);
}



/* FORM */

._error{
    border: 2px solid red;
    /* box-shadow: 0 0 15px red; */
}

.error_popup{
    font-size: 12px;
    color: red;
    margin-bottom: 10px;
    display: none;
}

.form{
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.form::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5) url("../images/loading.gif") center / 50px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}

.form._sending::after{
    opacity: 1;
    visibility: visible;
}

.form-title{
    font-size: 19px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.form-holder{
    width: 100%;
    margin: 0 auto;
}

input, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #6d6d6d18;
    border-radius: 0px;
    box-sizing: border-box;
    resize: none;
    color: var(--var-fontcolor);
    background-color: var(--var-bgcolor);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2em;
    outline:none;
    margin-top: 5px;
}

input{
    height: 50px;
}

textarea{
    height: 100px;
}

:focus::-webkit-input-placeholder {
    color: transparent
}
  
:focus::-moz-placeholder {
    color: transparent
}
  
:focus:-moz-placeholder {
    color: transparent
}
  
:focus:-ms-input-placeholder {
    color: transparent
}

.form-btn{
    width: 100%;
    height: 50px;
    color: var(--var-bgcolor);
    border: 0;
    box-shadow: 0px 2px 8px 0px var(--var-shadowcolor);
    background-color: var(--var-fontcolor);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2em;
    margin-top: 5px;
}

.form-btn:hover{
    opacity: 0.7;
}

/* SOCIALS */

.contacs-socials{
    text-align: center;
}

.contacs-socials-btns{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 80%;
    margin: 0 auto;
}

.contacs-socials-header{
    font-size: 19px;
    font-weight: 700;
}

.contacs-socials-btn{
    padding: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    color: var(--var-fontcolor);
}

.contacs-socials-btn:hover {
    opacity: 0.7;
}



/* Adaptive */
/* WIDTH */

@media screen and (max-width: 1440px) {
    .contacs-data,
    .contacs-socials-header,
    .form-title{
        font-size: 17px;
    }

    input, textarea{
        font-size: 10px;
    }

    input{
        height: 45px;
    }

    textarea{
        height: 90px;
    }

    .form-btn{
        font-size: 18px;
        height: 45px;
    }
}

@media screen and (max-width: 1199px) {
    
    .contacs-data,
    .contacs-socials-header,
    .form-title{
        font-size: 15px;
    }

    .contact-block-text-item{
        width: 45%;
    }

    .contacs-socials-btn{
        font-size: 24px;
    }

    .contacs-socials-btns{
        width: 50%;
    }

    input{
        height: 30px;
    }

    textarea{
        height: 60px;
    }

    .form-btn{
        font-size: 16px;
        height: 30px;
    }
}

@media screen and (max-width: 991px) {
    .contacs-info,
    .contact-block-text-holder{
        flex-wrap: wrap;
    }

    .contact-block-avatar{
        width: 70%;
        margin-bottom: 30px;
    }

    .contact-block-text{
        width: 70%;
    }

    .contact-block-text-item{
        width: 100%;
        margin-top: 30px;
    }

    .contacs-data,
    .contacs-socials-header,
    .form-title{
        font-size: 19px;
    }

    .form{
        width: 100%;
        margin-top: 30px;
    }

    input{
        font-size: 14px;
        height: 50px;
    }

    textarea{
        font-size: 14px;
        height: 100px;
    }

    .form-btn{
        font-size: 18px;
        height: 50px;
    }
}

@media screen and (max-width: 767px) {
    .contacs{
        margin-top: 120px;
    }
}

@media screen and (max-width: 575px) {
    .contacs-data,
    .contacs-socials-header,
    .form-title{
        font-size: 16px;
    }
    
    .contact-block-avatar{
        margin-bottom: 15px;
    }

    input, textarea{
        font-size: 12px;
    }

    .form-btn{
        font-size: 16px;
    }

    .error_popup{
        font-size: 11px;
    }
}


@media screen and (max-width: 374px) {
    .contacs-data,
    .contacs-socials-header,
    .form-title{
        font-size: 15px;
    }

    .contact-block-avatar{
        width: 90%;
    }

    .contact-block-text{
        width: 90%;
    }

    input, textarea{
        font-size: 10px;
    }

    .form-btn{
        font-size: 14px;
    }

    .error_popup{
        font-size: 10px;
    }
}


/* HEIGHT */

@media screen and (max-height: 575px) {

}

@media screen and (max-height: 474px) {

}

@media screen and (max-height: 374px) {


}