/* GALLERY */

.gallery{
    margin-top: 200px;
}

.gallery-pagin{
    width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 70px;
}

.pagin-item{
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-weight: 400;
    transition: opacity 0.3s ease;
}

.pagin-item.slash{
    margin-left: 10px;
    margin-right: 10px;
    pointer-events: none;
}

.pagin-item.current{
    pointer-events: none;
    opacity: 0.5;
}

.pagin-item:hover{
    opacity: 0.7;
}

ul {
    list-style: none;
    padding: 0px;
}
  
.gallery-holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 20px;
}
  
.gallery-holder > li {
    flex: 1 1 auto;
    height: 300px;
    cursor: pointer;
    position: relative;
    box-shadow: 0px 2px 8px 0px var(--var-shadowcolor);
    transition: opacity 0.5s ease;
}

.gallery-holder > li:hover {
    opacity: 0.7;
}
  
.gallery-holder::after {
    content: "";
    flex-grow: 999;
}
  
.gallery-holder li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}



/* Adaptive */
/* WIDTH */

@media screen and (max-width: 1440px) {
    .gallery-holder > li {
        height: 250px;
    }
}

@media screen and (max-width: 1199px) {

}

@media screen and (max-width: 991px) {
    .gallery-holder > li {
        height: 322px;
    }
}

@media screen and (max-width: 767px) {
    .gallery {
        margin-top: 120px;
    }

    .gallery-pagin{
        margin-bottom: 40px;
    }

    .pagin-item{
        font-size: 16px;
    }

    .gallery-holder{
        display: block;
    }

    .gallery-holder > li {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 575px) {
    .gallery-holder{
        width: 90%;
    }
}


@media screen and (max-width: 374px) {
    .pagin-item{
        font-size: 11px;
    }
}


/* HEIGHT */

@media screen and (max-height: 575px) {

}

@media screen and (max-height: 474px) {

}

@media screen and (max-height: 374px) {


}