::-webkit-scrollbar {
    width: 0;
}   

:root{
    --index: calc(1vw + 1vh);

    --var-bgcolor: white;
    --var-fontcolor: black;
    --var-hovercolor: black;
    --var-shadowcolor: rgba(0, 0, 0, 0.2);
    --var-giftbg: #f5f5f5;
}

.dark {
    --var-bgcolor: black;
    --var-fontcolor: white;
    --var-hovercolor: darkorange;
    --var-shadowcolor: rgba(255, 255, 255, 0.2);
    --var-giftbg: #0c0b0b;
}

body{
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    color: var(--var-fontcolor);
    background: var(--var-bgcolor);
}

h1, h2, h3, h4, h5, h6{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: var(--var-fontcolor);
}

.container{
    margin: 0px auto;
    width: 1370px;
}

.section-header{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.4em;
    margin-bottom: 70px;
}

.section-header span{
    padding: 10px 30px;
    border-top: var(--var-fontcolor) 2px solid;
    border-bottom: var(--var-fontcolor) 2px solid;
}