/* ОСНОВНЫЕ */

::-webkit-scrollbar {
    width: 0;
}   

:root{
    --index: calc(1vw + 1vh);

    --var-bgcolor: white;
    --var-fontcolor: black;
    --var-hovercolor: black;
    --var-shadowcolor: rgba(0, 0, 0, 0.2);
    --var-giftbg: #f5f5f5;
    
}

.dark {
    --var-bgcolor: black;
    --var-fontcolor: white;
    --var-hovercolor: darkorange;
    --var-shadowcolor: rgba(255, 255, 255, 0.2);
    --var-giftbg: #0c0b0b;

    .header{
        background-image: url(images/header-background-dark.jpg);
    }
}

body{
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    color: var(--var-fontcolor);
    background: var(--var-bgcolor);
}

h1, h2, h3, h4, h5, h6{
    padding: 0px;
    margin: 0px;
}

a{
    text-decoration: none;
    color: var(--var-fontcolor);
}

.container{
    margin: 0px auto;
    width: 1370px;
}

.section-header{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.4em;
    margin-bottom: 70px;
}

.section-header span{
    padding: 10px 30px;
    border-top: var(--var-fontcolor) 2px solid;
    border-bottom: var(--var-fontcolor) 2px solid;
}

/* HEADER */

.header{
    background-image: url(images/header-background-light.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    align-items: center;
    color: var(--var-fontcolor);
}

.header-line {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 6;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;  
    background: var(--var-bgcolor);
    border-bottom: var(--var-fontcolor) 1px solid;
}

.header-logo{
    width: 100%;
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.header-logo-img{
    width: calc(var(--index) * 2.3);
    height: calc(var(--index) * 2.3);
    background-color: var(--var-fontcolor);
    margin-right: 15px;
}

.header-nav{
    width:100%;
    margin-right: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

.nav-item{
    transition: all 0.3s ease;
}

.nav-item-dot{
    font-size: 15px;
    margin-right: 40px;
    margin-left: 40px;
}

.nav-item:hover{
    color: var(--var-hovercolor);
    border-bottom: 1px solid var(--var-hovercolor);
}

.theme-icon-header{
    width: 30px;
    cursor: pointer;
}

.theme-icon-header:hover{
    opacity: 0.7;
}

.burger-menu{
    margin-right: 100px;
    display: inline-block;
    cursor: pointer;
    display: none;
}

.burger-menu-line {
    width: 35px;
    height: 5px;
    background-color: var(--var-fontcolor);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.company-name{
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.header-content{
    height: 100vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.header-tagline{
    margin-top: 10px;
    font-size: calc(var(--index) * 3);
    font-weight: 400;
    letter-spacing: 0.2em;
}

.header-subtitle{
    margin-top: 15px;
    font-size: calc(var(--index) * 1.1);
    margin-bottom: 50px;
    font-weight: 400;
    letter-spacing: 0.2em;
}

.header-start-btn {
    font-family: Arial;
    font-weight: 400;
    text-transform: uppercase;
    font-size: calc(var(--index) * 0.7);
    color: var(--var-fontcolor);
    cursor: pointer;
    letter-spacing: 5px;
    padding: 10px 50px;
    background-color: transparent;
    border: var(--var-fontcolor) 2px solid;
    text-align: center;
    transition: all 0.3s ease;
    outline: none;
}

.header-start-btn:hover {
    font-size: calc(var(--index) * 0.8);
    color: var(--var-hovercolor);
    border: var(--var-hovercolor) 2px solid;
}


/* GALLERY */

.gallery{
    margin-top: 120px;
}

.gallery-rederict{
    margin-top: 40px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.4em;
}

.gallery-rederict a{
    font-size: 20px;
    text-decoration: underline;
    transition: all 0.3s ease;
}

.gallery-rederict a:hover{
    color: var(--var-hovercolor);
    font-size: 21px;
}

.skidder-pager{
    opacity: 0.5;
}



/* PRICES */

.prices{
    margin-top: 200px;
}

.price-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.price-holder{
    width: 100%;
}

.price-card{
    width: 40%;
    margin: 20px 20px;
    padding: 20px 0;
    box-shadow: 0px 2px 8px 0px var(--var-shadowcolor);
}

.price-card-header{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.3em;
}

.price-card-subtitle{
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.2em;
}

.price-card-image{
    width: 80%;
    height: auto;
    margin-bottom: 20px;
}

.price-card-price{
    margin-left: 15px;
    margin-right: 15px;

    font-size: 24px;
    font-weight: 600;
}

.price-card-price-place{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.2em;
}

.price-card-price-subtitle{
    margin-left: 15px;
    margin-right: 15px;

    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.2em;
    opacity: 0.4;
}

.rub { 
	line-height: 9px;
	width: 0.4em;
	border-bottom: 3px solid var(--var-fontcolor); 
	display: inline-block;
} 

.price-card-desc-header{
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.2em;
}

.price-card-desc-item{
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;

    text-align: left;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.1em;
}

.price-card-gift{
    background-color: var(--var-giftbg);
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
}

.price-card-gift-text{
    color: var(--var-fontcolor);
    opacity: 1;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.1em;
}


/* CONTACS */

.contacs{
    margin-top: 200px;
}

.contac-block{
    width: 30%;
}

.contacs-info{
    display: flex;
    justify-content: space-between;
}

.contac-avatar{
    width: 100%;
}

.contacs-epigraph-1{
    font-style: italic;
    font-size: 30px;
    font-weight: 200;
    text-align: left;
}

.contacs-epigraph-2{
    font-style: italic;
    font-size: 30px;
    font-weight: 200;
    text-align: right;
}

.contacs-dates{
    margin-top: 130px;
    text-align: center;
}

.contacs-data{
    font-size: 19px;
    margin-top: 20px;
}

.contacs-data span{
    font-weight: 700;
}

.contacs-data a{
    text-decoration: underline;
    transition: all 0.2s ease;
}

.contacs-data a:hover{
    color: var(--var-hovercolor);
}

.contacs-bio{
    font-size: 16px;
    text-align: justify;
}

.contacs-bio span{
    font-size: 20px;
    font-weight: 700;
}

.contacs-socials-btns{
    display: flex;
    justify-content: center;
}

.contacs-socials{
    margin-top: 50px;
    text-align: center;
}

.contacs-socials-header{
    font-size: 19px;
    font-weight: 700;
}

.contacs-socials-btns{
    margin-top: 10px;
}

.contacs-btn{
    padding: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin-left: 15px;
    color: var(--var-fontcolor);
}

.contacs-btn:hover {
    opacity: 0.7;
}


/* FOOTER */

footer{
    width: 100%;
    height: auto;
    min-height: 100px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}

.footer-holder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
}

.footer-mail{
    margin-left: 140px;
}

.footer-mail a{
    text-decoration: underline;
}

.footer-socials{
    margin-right: 140px;
}

.footer-socials-btns{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.footer-btn {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    margin-left: 15px;
    color: var(--var-fontcolor);
}

.footer-btn:hover {
    opacity: 0.7;
}




/* OVERLAY */
.burger-overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    background-color: var(--var-bgcolor); /* Black w/opacity */
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 40px;
}

.burger-menu-btn {
    padding: 8px;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: var(--var-fontcolor);
    display: block; 
    margin-bottom: 30px;
    transition: 0.3s;
}

.burger-menu-btn:hover {
    color: var(--var-hovercolor);
}

.theme-icon-burger {
    width: 60px;
    cursor: pointer;
    transition: 0.3s;
}

.theme-icon-burger:hover {
    opacity: 0.7;
}



/* WIDTH */

@media screen and (max-width: 1440px) {
    .container {
        width: 1200px;
    }
}

@media screen and (max-width: 1199px) {
    .container {
        width: 960px;
    }

    .price-card{
        width: 55%;
    }

    .contacs-info{
        flex-wrap: wrap;
    }

    .contac-block{
        width: 45%;
    }

    .last-contac{
        display: block;
        margin-top: 30px;
        width: 100%;
    }

    .footer-mail{
        margin-left: 50px;
    }

    .footer-socials{
        margin-right: 50px;
    }
}

@media screen and (max-width: 991px) {
    .container {
        width: 720px;
    }

    .header-nav{
        display: none;
    }

    .skidder-clickwrapper
    {
        display: none;
    }

    .burger-menu{
        display: block;
        position: fixed;
        margin-left: 50px;
    }

    .header-logo{
        display: flex;
        justify-content: center;
        margin-left: auto;
    }

    .price-card{
        width: 75%;
    }

    .contacs-epigraph-1,
    .contacs-epigraph-2{
        font-size: 23px;
    }

    .contacs-dates{
        margin-top: 50px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 540px;
    }

    .company-name{
        font-size: 20px;
    }

    .section-header{
        font-size: 23px;
    }

    .gallery-rederict a{
        font-size: 16px;
    }

    .price-card{
        width: 100%;
    }

    .contacs-epigraph-1,
    .contacs-epigraph-2{
        font-size: 21px;
    }

    .contacs-info{
        justify-content: center;
    }

    .section-header{
        margin-bottom: 40px;
    }

    .prices {
        margin-top: 120px;
    }

    .contacs{
        margin-top: 120px;
    }

    .contac-block{
        width: 80%;
    }

    .middle-contac{
        margin-top: 30px;
    }

    .footer-holder{
        display: block;
    }

    .footer-mail{
        margin-left: auto;
        margin-bottom: 20px;
    }

    .footer-socials{
        margin-right: auto;
        margin-top: 20px;
    }

    .footer-socials-btns{
        margin-top: auto;
    }

    .burger-menu{
        margin-left: 25px;
    }

    .burger-menu-line{
        width: 30px;
        height: 4px;
        margin: 6px 0;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 5px) ;
        transform: rotate(-45deg) translate(-9px, 5px) ;
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -7px) ;
        transform: rotate(45deg) translate(-8px, -7px) ;
    }
    
}

@media screen and (max-width: 575px) {
    .container {
        width: 100%;
    }

    .header-subtitle
    {
        font-size: calc(var(--index) * 1.3);
    }

    .header-start-btn {
        font-size: calc(var(--index) * 1.2);
        padding: 15px 40px;
        font-weight: 600;
        border: var(--var-fontcolor) 2px solid;
    }

    .header-start-btn:hover {
        font-size: calc(var(--index) * 1.3);
    }

    .contac-block{
        width: 90%;
    }   

    .burger-menu{
        margin-left: 15px;
    }

    .burger-menu-btn{
        font-size: 20px;
    }

    .theme-icon-burger{
        width: 45px;
    }

    .price-card-desc-item,
    .price-card-gift{
        margin-left: 40px;
        margin-right: 40px;
    }

    .price-card-image{
        width: 90%;
    }

    .price-card-header{
        font-size: 20px;
        margin-top: 5px;
    }
    
    .price-card-subtitle{
        font-size: 18px;
    }

    .price-card-price,
    .price-card-price-place{
        font-size: 20px;
    }

    .price-card-price-subtitle{
        font-size: 14px;
    }

    .price-card-desc-header{
        margin-top: 20px;
        font-size: 18px;
    }

    .price-card-desc-item{
        font-size: 14px;
    }

    .price-card-gift-text{
        font-size: 11px;
    }

    .rub{
        line-height: 6px;
        border-bottom: 2px solid var(--var-fontcolor);
    }
}


@media screen and (max-width: 374px) {
    .section-header{
        font-size: 20px;
    }

    .header-subtitle
    {
        font-size: calc(var(--index) * 1.1);
    }

    .header-start-btn {
        font-size: calc(var(--index) * 1.1);
    }

    .header-start-btn:hover {
        font-size: calc(var(--index) * 1.2);
    }

    .gallery-rederict a{
        font-size: 12px;
    }

    .price-card-desc-item,
    .price-card-gift{
        margin-left: 30px;
        margin-right: 30px;
    }

    .price-card-header{
        font-size: 16px;
    }
    
    .price-card-subtitle{
        font-size: 14px;
    }

    .price-card-price,
    .price-card-price-place{
        font-size: 16px;
    }

    .price-card-price-subtitle{
        font-size: 10px;
    }

    .price-card-desc-header{
        margin-top: 15px;
        font-size: 14px;
    }

    .price-card-desc-item{
        font-size: 10px;
    }

    .price-card-gift{
        margin-top: 20px;
    }

    .price-card-gift-text{
        font-size: 9px;
    }

    .rub{
        line-height: 5px;
        border-bottom: 1px solid var(--var-fontcolor);
    }

    .contacs-epigraph-1,
    .contacs-epigraph-2{
        font-size: 20px;
    }

    .contacs-data{
        font-size: 16px;
    }

    .burger-menu{
        margin-left: 5px;
    }

    .burger-menu-line{
        width: 25px;
        height: 4px;
        margin: 4px 0;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-7px, 4px) ;
        transform: rotate(-45deg) translate(-7px, 4px) ;
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-6px, -6px) ;
        transform: rotate(45deg) translate(-6px, -6px) ;
    }

    .burger-menu-btn{
        font-size: 18px;
    }

    .theme-icon-burger{
        width: 40px;
    }
}


/* HEIGHT */

@media screen and (max-height: 575px) {
    .header-line{
        padding-top: 10px;
    }

    .company-name{
        font-size: 22px;
    }

    .burger-menu{
        margin-left: 25px;
    }

    .burger-menu-line{
        width: 30px;
        height: 4px;
        margin: 4px 0;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-7px, 4px) ;
        transform: rotate(-45deg) translate(-7px, 4px) ;
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-6px, -6px) ;
        transform: rotate(45deg) translate(-6px, -6px) ;
    }

    .overlay-content{
        margin-top: auto;
    }
    
}

@media screen and (max-height: 474px) {
    .company-name{
        font-size: 18px;
    } 

    .burger-menu-btn{
        font-size: 18px;
    }

    .theme-icon-burger{
        width: 40px;
    }

    .burger-menu-btn{
        margin-bottom: 20px;
    }
}

@media screen and (max-height: 374px) {

    .company-name{
        font-size: 14px;
    }

    .header-tagline{
        font-size: calc(var(--index) * 2.5);
    }

    .header-subtitle{
        margin-bottom: 20px;
    }

    .burger-menu-line{
        width: 25px;
        height: 4px;
        margin: 2px 0;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-5px, 5px) ;
        transform: rotate(-45deg) translate(-5px, 5px) ;
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-4px, -4px) ;
        transform: rotate(45deg) translate(-4px, -4px) ;
    }

    .burger-menu-btn{
        font-size: 16px;
    }

    .theme-icon-burger{
        width: 35px;
    }

    .overlay-content{
        margin-top: auto;
    }
}